# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
meta_demo/  # if you ever accidentally name your venv this

# IDE/editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# ignore Jupyter notebook checkpoints
app/.ipynb_checkpoints/
**/.ipynb_checkpoints/